<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">    
    	<title>Hero cover page</title>
    	
    	<link rel="stylesheet" type="text/css" href="herocover.css">
	</head>
	<body>
		<main>
			<h1>Finn the Human</h1>
			<img src="https://source.unsplash.com/collection/895539/400x400">
		</main>
		<footer>
			<h4>Finn the Human</h4>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Jake</a></li>
					<li><a href="#">Adventures</a></li>
				</ul>
			</nav>
		</footer>
	</body>
</html>