<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">    
    	<title>Equal height cards</title>
    	
    	<link rel="stylesheet" type="text/css" href="equalheight.css">
	</head>
	<body>
		<main>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/461370/400x400">
		    </div>
		    <div class="content">
		    	<h4>Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada. Nam mollis leo eget orci gravida, at iaculis elit malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat. Fusce lorem nulla, posuere id elit vitae, pharetra feugiat lacus.</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/1243/300x300">
		    </div>
		    <div class="content">
		     	<h4>Short Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada.</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/166314/200x200">
		    </div>
		    <div class="content">
		    	<h4>Looooooong Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada. Nam mollis leo eget orci gravida, at iaculis elit malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat. Fusce lorem nulla, posuere id elit vitae, pharetra feugiat lacus.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat. Fusce lorem nulla, posuere id elit vitae, pharetra feugiat lacus.</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/1198157/300x300">
		    </div>
		    <div class="content">
		    	<h4>Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada. Nam mollis leo eget orci gravida, at iaculis elit malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat.</p> 
		    </div>
		  </div>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/391148/200x200">
		    </div>
		    <div class="content">
		     	<h4>Looooooong Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada. Nam mollis leo eget orci gravida, at iaculis elit malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat. Fusce lorem nulla, posuere id elit vitae, pharetra feugiat lacus.Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi vel odio commodo, maximus mi eget, consectetur erat. Fusce lorem nulla, posuere id elit vitae, pharetra feugiat lacus.</p>
		    </div>
		  </div>
		  <div class="card">
		    <div class="cover">
		      <img src="https://source.unsplash.com/collection/786921/400x400">
		    </div>
		    <div class="content">
		    	<h4>Short Title</h4>
		      	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed suscipit ipsum, ac euismod eros. Maecenas at arcu nec libero convallis malesuada.</p>
		    </div>
		  </div>
		</main>
	</body>
</html>