<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">    
    	<title>Twister</title>
    	
    	<link rel="stylesheet" type="text/css" href="twister.css">
	</head>
	<body>
		<main>
			<ul class="yellow">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="red">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="blue">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<ul class="green">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</main>
	</body>
</html>